body {
	margin: 0px;
}

header {
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px;
	/* center the items */
	align-items: center;
	border-bottom: 1px solid black;
}  

#logo {
	align-items: center;
	/*without disp:flex, #myTimes drops below the logo*/
	display: flex; 
	/*This was a note from Slack, figure out why this works*/
	flex-grow: 1; 
}

#logoIMG {
	padding-right: 5px;
}

#myTimes {
	color: MediumAquamarine;
}

.nav1 {
	display: inline-flex;
	/*vertical padding 0, horizontal padding ~8px*/
	padding: 0px 8px;
	justify-content: space-around;
	color: black;
}


/*Main Content Container*/
#Content {
	display: inline-flex;
	justify-content: space-around;
	padding-top: 20px;
}


/*Columns*/
.columnBind {
	padding: 0px 20px;
}

#largeColumn {
	display: flex;
	/*make it flow vertically*/
	flex-direction: column;
	max-width: 630px;
	min-width: 630px;
	align-items: flex-start;
	padding: 0px 20px;
}

#subColumn {
	display: inline-flex;
	flex-direction: column;
	max-width: 300px;
	min-width: 300px;
}

.subColumnLEFT {
	display: flex;
	flex-direction: column;
}

.subColumnRIGHT {
	display: flex;
  flex-direction: column;
}

#mediumColumn {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	min-width: 300px;
}

#smallColumn {
	display: flex;
	flex-direction: column;
	max-width: 240px;
	min-width: 240px;
}


.story {
	font-family: Georgia;
	font-size: 17px;
	color: black;
}



/*IMAGES*/

.imageProperties {
	font-family: Georgia;
  font-weight: bold;
  color: white;
}

.coverFont {
	display: flex;
	font-size: 40px;
	justify-content: flex-start;

}
.underFont {
	display: block;
	font-size: 30px;
	justify-content: center;
}


#image1 {

	/*because style.css is in a lower folder i think it needs an image properly sources, so ./resources/images doesn't exist starting from the style.css folder.... further investigation is needed*/
	background-image: url(../images/img-story-main.png);
	height: 300px;
}

#image2 {
	background-image: url(../images/img-story-2.png);
	height: 300px;
}

#image3 {
	background-image: url(../images/img-story-3.png);
	height: 300px;
}

#image4 {
	background-image: url(../images/img-story-1.png);
	height: 300px;
}


#headline2 {
}

#headline3 {
}

.articleText {
}

/*debug container borders*/
.blocky {
	border: 1px solid black;
}