header {
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding: 5px 5px;
	/* center the items */
	align-items: center;
}  

#logo {
	display: flex; /*without this, #myTimes drops below the logo*/
	flex-grow: 1; /*This was a cheat from Slack, figure out why this works*/
	align-items: center;

	border: 1px solid black; /*TEMP REMOVE LATER*/

}

#logoIMG {
	padding-right: 5px;
}

#myTimes {
	color: MediumAquamarine;
}

#nav1 {
	display: flex;
	justify-content: space-around;
}